@media screen and (min-width: 400px) {
    .field {
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding-top: 1em;
        display: inline-flex;


    }
}

@media screen and (max-width: 400px) {
    .field {
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        display: inline-flex;
    }

}



.wrapper {
    display: inline-block;
}

.fraction {
    display: flex;
    align-items: center;
}

.stacked-fraction {
    display: inline-block;
    /* align-items: center; */
    width: 10em;
    vertical-align: middle;

}

.numerator {
    text-align: center;
    border-bottom: 1px solid black;
}

.denominator {
    text-align: center;
}


